Debug
SolarSystem.VC.db
SolarSystem.VC.VC.opendb
.vs/SolarSystem/v14/.suo
.vs/SolarSystem/v14/.suo
SolarSystem.VC.db
SolarSystem.VC.db
.vs/SolarSystem/v14/.suo
SolarSystem.VC.db
SolarSystem.VC.db
.vs/SolarSystem/v14/.suo
